$font-color: #FFFFFF;
$color-button:  #7854F7; 
$color-link: #299EF3;
$color-text: #94A2B3;
$color-yellow: #FFBA49;
$color-head: #272D4E;
@import "../mixin/mixins";

.landing {
	display: flex;
	gap: 5%;

	.landinghead {
		position: absolute;
		width: 43%;
		height: 24%;
		left: 11%;
		top: 24%;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 500%;
		line-height: 100%;
		color: $color-head;
		@include respons(1600px) {
			font-size: 420%;
		}
		@include respons(1500px) {
			font-size: 420%;
		}
		@include respons(1440px){
			font-size: 350%;
		} 
	}
	.txtcommerce {
		position: absolute;
		width: 40%;
		height: 15%;
		left: 11%;
		top: 48%;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 100%;
		line-height: 150%;
		color: $color-text;
		@include respons(1600px) {
			font-size: 90%;
			top: 42%;
		}
		@include respons(1440px) {
			font-size: 75%;
		}
	}
	.linktonewstore {
		position: absolute;
		width: 30%;
		height: 7%;
		top: 60%;
		left: 11%;
		align-items: center;
		display: flex;
		@include respons(1600px){
			top: 50%;
		}
		.newstore { 
			position: absolute;
			width: 40%;
			height: 80%;
			color: $font-color;
			background: $color-button;
			border-radius: 60px;
			border: none;
			
		}
		.link{
			position: absolute;
			width: 60%;
			height: 60%;
			left: 42%;	
			display: flex;
			gap: 10px;	
			align-items: center;	
		}
		.customize {

			text-decoration: none;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			color: $color-link;
		}
		
	}
	
	.group8 {
		position: absolute;
		width: 13%;
		height: 48%;
		top: 17%;
		left: 79%;
		
	}
	.group7 {
		position: absolute;
		height: 21%;
		width: 28%;
		top: 30.5%;
		left: 52%;
	}
	.group5 {
		position: absolute;
		width: 12%;
		height: 46%;
		top: 40.6%;
		left: 84.5%;
	}
	.buyproduct {
		position: absolute;
		width: 45%;
		height: 35.7%;
		display: flex;
		top: 30%;
		left: 58%;
		background: $font-color;
		border: 0.998348px solid #E5EFFF;
		border-radius: 20px;
	}
	.bitmap{
		position: absolute;
		width: 50%;
		height: 100%;
	}
	.girls {
		position: absolute;
		left: -65px;
		top: -70px;
		width: 33%;
		height: 45%;
		background:  $font-color;
		border-radius: 20px;
	}
	.payforms {
		position: absolute;
		width: 50%;
		height: 50%;
		top: 76%;
		left: 11%;
		background: $font-color;
		border-radius: 23.4905px;
	}

	.paytxt{
		width: 40%;
		align-items: center;
		text-align: center;
	}
	.stripe {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 7%;
		padding-top: 20px;
		border-bottom: 1px solid #E5EFFF;
		color: $color-text;
		
	}
	.paypal {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5%;
		padding-top: 20px;
		border-bottom: 1px solid #E5EFFF;
		color: $color-text;
	}
	.bank {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7%;
		padding-left: 10%;
		padding-top: 20px;
		color: $color-text;
	}
	.switch {
		position: relative;
		display: inline-block;
		width: 46px;
		height: 23px;
		border-radius: 15px;
		background: #DAE5F7;
		input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&:before {
			position: absolute;
			content: "";
			width: 16.39px;
			height: 16.39px;
			left: 4px;
			top: 3px;
			border-radius: 15px;
			background: #8161F7;
			transition: 0.4s;
		}
	}
	input {
		&:checked {
			& + .slider {
				background: #70C217;
				border-radius: 15px;
				transition: 0.1s;
				&:before {
					transform: translate(24px);
					background: $font-color;
				}
			}
		}
	}
	
	.shield{
		position: absolute;
		width: 13%;
		height: 16%;
		left: 63%;
		top: 403.44px;
		font-size: 40px;
		background: #EF4358;
		align-items: center;
		justify-content: center;
		color: $font-color;
		display: flex;
		border-radius: 31.3552px;
	}
	.shop {
		width: 75.64px;
		height: 75.64px;
		top: 304px;
		left: -35px;
		background: $color-yellow;
		border-radius: 37.7902px;
		border: none;
		position: absolute;
		svg {
			width: 36.67px;
			height: 33px;
			color: $font-color;
		}
	}
	.productmarka {
		position: absolute;
		display: flex;
		gap: 15px;
		left: 58%;
		top: 5%;
	}
	.shoes {
		width: 57.28px;
		height: 17.53px;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 11.9802px;
		line-height: 15px;
		letter-spacing: 1.9967px;
		color: $color-head;
	}
	.marka {
		width: 104.03px;
		height: 17.53px;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 400;
		font-size: 11.9802px;
		line-height: 15px;
		color: $color-text;
	}
	.adidas {
		position: absolute;
		width: 40%;
		height: 88.84px;
		left: 57%;
		top: 10%;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 600;
		font-size:250%;
		line-height: 38px;
		color: #222222;

		@include respons(1700px) {
			font-size: 200%;
		}
	}
	.sizeproduct {
		position: absolute;
		display: flex;
		gap: 15px;
		left: 60%;
		top: 49%;
	}
	.boxsize {
		width: 29.27px;
		height: 29.27px;
		left: 1783.16px;
		top: 534.94px;
		border: none;
		font-size: 9px;
		background: #F6F6F6;
		border-radius: 4.99174px;
		align-items: center;
	}
	.productprice {
		position: absolute;
		display: flex;
		gap: 40%;
		top: 65%;
		left: 57%;
	}
	.saleprice {
		position: absolute;
		width: 67.8px;
		height: 32.73px;
		bottom: 5px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 23.9604px;
		line-height: 28px;
		letter-spacing: 0.998348px;
		color: $color-button;
	}
	.mainprice {
		position: absolute;
		width: 40.91px;
		height: 18.7px;
		left: 25px;
		top: 20px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 13.9769px;
		line-height: 16px;
		letter-spacing: 0.998348px;
		text-decoration-line: line-through;
		color: $color-text;
	}
	.addproductpart {
		position: relative;
		display: flex;
		gap: 30px;
		
		width: 240.28px;
		height: 40.98px;
		background: #F6F6F6;
		border-radius: 4.99174px;
	}
	.increment {
		border: none;
		color: #222222;
		font-weight: 800;
		background: none;
	}
	.counter {
		border: none;
		color: #222222;
		font-weight: 500;
		background: none;
	}
	.decrement {
		border: none;
		color: #222222;
		font-weight: 800;
		background: none;
	}
	.addtocart {
		position: absolute;
		width: 31%;
		height: 49.18px;
		top: 80%;
		left: 60%;
		font-size: 11px;
		font-weight: 400;
		border: none;
		color: $font-color;
		background: #7854F7;
		border-radius: 4.99174px;
	}
}



.features-section{
	position: absolute;
	width: 85%;
	height: 80%;
	left: 6%;
	top: 992px;
	.simplehead{
		position: absolute;
		width: 40%;
		height: 15%;
		left: 33%;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 350%;
		line-height: 70px;
		text-align: center;
		color: $color-head;
	}
	.consul{
		position: absolute;
		width: 33%;
		height: 42%;
		left: 2%;
		top: 30%;	
	}
	.apple{
		position: absolute;
		width: 4%;
		height: 6%;
		left: 0.5%;
		top: 33.5%;

	}
	.payment{
		position: absolute;
		width: 19%;
		height: 40%;
		left: -4.5%;
		top: 36%;
	}	

	.alltostart{
		position: absolute;
		width: 30%;
		height: 70px;
		left: 5.5%;
		top: 65%;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 210%;
		
		@include main(1920px) {
			width: 30%;
			top: 65%;
			font-size: 210%;
		}
		
		@include respons(1440px)	{
			top: 65%;
		}
	}
	
	.addplugin{
		position: absolute;
		width: 30%;
		height: 60px;
		left: 5.5%;
		top: 75%;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 110%;
		color: $color-text;

		@include responsive(1440px) {
			width: 30%;
			font-size: 80%;
		}

		@include main(1920px) {
			width: 30%;
			font-size: 110%;
		}
		@include respons(1440px) {
			width: 30%;
			font-size: 80%;
		}
	}

	.wordpress{
		position: absolute;
		width: 17.5%;
		height: 25px;
		left: 5.5%;
		top: 85%;
		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 110%;
		line-height: 25px;
		color: $color-link;
		@include responsive(1440px) {
			font-size: 90%;
		}
		@include respons(1440px) {
			font-size: 90%;
			top: 80%;
		}
	}

	.planshet{
		position: absolute;
		width: 33%;
		height: 42%;
		left: 35%;
		top: 36%;
	}
		.jetpack{
			position: absolute;
			width: 13%;
			height: 18%;
			left: 49%;
			top: 50%;

		}	
		.googleads{
			position: absolute;
			width: 13%;
			height: 18%;
			left: 43.5%;
			top: 65%;

		}
		.facebook{
			position: absolute;
			width: 13%;
			height: 18%;
			top: 46.5%;
			left: 38%;

		}
		.monkey{
			position: absolute;
			width: 13%;
			height: 18%;
			left: 53%;
			top: 38%;
		}

		.square{
			position: absolute;
			width: 13%;
			height: 18%;
			left: 38%;
			top: 34%;
		}

		.extend{
			position: absolute;
			width: 35%;
			height: 70px;
			left: 38%;
			
			top: 72%;
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 200%;
			line-height: 70px;
			color: $color-head;
		}

		.gymclass{
			position: absolute;
			width: 29%;
			height: 60px;
			left: 38%;
			top: 790px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 115%;
			line-height: 30px;
			
			color: $color-text;
		}

		.browse{
			position: absolute;
			width: 165px;
			height: 25px;
			left: 38%;
			top: 891px;
			
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;			
			
			color: $color-link;
		}

		.employees{
			position: absolute;
			width: 33%;
			height: 42%;
			left: 68%;
			top: 43%;
		}
		.clients{
			position: absolute;
			width: 17%;
			height: 24%;			
			left: 88%;
			top: 56%;	
		}
		.teamwork{
			position: absolute;
			width: 15%;
			height: 21%;
			left: 70%;
			top: 37%;
		}
		.collective{
			position: absolute;
			width: 13.5%;
			height: 20%;
			left: 85%;
			top: 27%;
		}
		.community{
			position: absolute;
			width: 30%;
			height: 70px;
			left: 71%;
			top: 76%;
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 230%;
			line-height: 70px;
			color: $color-head;
		}
		.fastgrow{
			position: absolute;
			width: 34%;
			height: 60px;
			left: 71%;
			top: 89%;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 110%;
			color: $color-text;
			
		}
		.ourforums{
			position: absolute;
			width: 159px;
			height: 25px;
			left: 71%;
			top: 99%;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
			color: $color-link;
		}
}

.about-section{
	position: absolute;
	width: 100%;
	height: 1182px;
	left: 0px;
	top: 2204px;
	.develop-part{
		position: absolute;
		width: 100%;
		height: 1110px;
		left: 0px;			
		background: url(../../images/rectangleback.png);
		.union{
			position: absolute;
			left: 68.5%;
			width: 31.5%;
			height: 329px;
		}
		.ellipse1{

			position: absolute;
			width: 4%;
			height: 6.5%;
			left: 11%;
			top: 9%;
		}
		.ellipse2{

			position: absolute;
			width: 20%;
			height: 36%;
			left: 12.2%;
			top: 170px;
		}
 		.markalist{
			position: absolute;
			width: 13%;
			height: 48%;
			left: 13%;
			top: 32%;
		} 
		.ellipse3{
			
			position: absolute;
			width: 3.7%;
			height: 6.5%;
			left: 64%;
			top: 46.5%;
		}
		.ellipse4{

			position: absolute;
			width: 13%;
			height: 23%;
			left: 74.5%;
			top: 520px;
		}
		.markalist2{
			position: absolute;
			width: 20%;
			height: 15%;
			left: 69%;
			top: 67%;

		}
		
		.ourdevimg{
			position: absolute;
			left: 15%;
			top: -65px;	
			width: 27%;
			height: 57%;
		}

		.withoutlimits{
			position: absolute;
			width: 20%;
			height: 92px;
			left: 44.5%;
			top: 50px;
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 46px;

			color: $font-color;
			@include respons(1440px) {
				font-size: 30px;
				line-height: 40px;
			}
			
		}
		.limitstxt{
			position: absolute;
			width: 25%;
			height: 150px;
			left: 44.5%;
			top: 200px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			color: $font-color;
			@include responsive(1440px){
				font-size: 83%;
				line-height: 25px;
			}
			@include respons(1300px) {
				font-size: 75%;
				line-height: 25px;
			}
			@include respons(1440px) {
				font-size: 83%;
				line-height: 25px;
			}
			@include main(1920px) {
				font-size: 100%;
				line-height: 30px;
			}
		}
		.linktodocumentation{
			position: absolute;
			width: 13%;
			height: 64px;
			left: 44.5%;
			top: 406px;
			border: none;
			background: #70C217;
			border-radius: 60px;
			font-size: 85%;
			color: $font-color;
			
		}
		.ourconsultation{
			position: absolute;
			width: 27%;
			height: 57%;
			left: 55%;
			top: 47%;

		}
		.globalcommunity{
			position: absolute;
			width: 25%;
			height: 92px;
			left: 31%;
			top: 550px;
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 46px;
			color: $font-color;	
		}
		.aboutcommunity{
			position: absolute;
			width: 25%;
			height: 150px;
			left: 31%;
			top: 700px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 100%;
			line-height: 30px;
			color: $font-color;
		}
		.linktodoc{
			position: absolute;
			width: 13%;
			height: 64px;
			left: 31%;
			top: 910px;
			border: none;
			background: #70C217;
			border-radius: 60px;
			font-size: 100%;
			color: $font-color;
			@include respons(1440px) {
				font-size: 80%;
			}
		}
		
	}	

}

.reviews{
    position: absolute;
    width: 100%;
    height: 1209px;
    left: 0px;
    top: 3450px;
    
    background: linear-gradient(180deg, 
    rgba(236, 240, 253, 0) 0%, 
    rgba(236, 240, 253, 0.53) 14.32%, 
    #ECF0FD 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%, 
    rgba(236, 240, 253, 0) 100%);
}


