$font-color: #FFFFFF;
$color-button:  #7854F7; 
$color-link: #299EF3;
$color-text: #94A2B3;
$color-yellow: #FFBA49;
$color-head: #272D4E;

.landing {
	display: flex;
	gap: 5%;

}
.landinghead {
	position: absolute;
	width: 818px;
	height: 285px;
	margin-left: 11%;
	margin-top: 10%;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 700;
	font-size: 85px;
	line-height: 95px;
	color: $color-head;
}
.txtcommerce {
	position: absolute;
	width: 716px;
	height: 50px;
	margin-left: 11%;
	margin-top: 27%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: $color-text;
}
.linktonewstore {
	position: absolute;
	margin-top: 32%;
	margin-left: 10%;
}
.newstore {
	width: 267px;
	height: 72px;
	color: $font-color;
	background: $color-button;
	border-radius: 60px;
	border: none;
}
.customize {
	width: 199px;
	height: 25px;
	left: 495px;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: $color-link;
}
.group8 {
	position: absolute;
	margin-top: 4%;
	margin-left: 70%;
}
.group7 {
	position: absolute;
	margin-top: 12.7%;
	margin-left: 48%;
}
.group5 {
	position: absolute;
	margin-top: 19%;
	margin-left: 79.5%;
}
.buyproduct {
	position: relative;
	width: 907.4px;
	height: 421.5px;
	display: flex;
	left: 1033.6px;
	top: 220.67px;
	background: $font-color;
	border: 0.998348px solid #E5EFFF;
	border-radius: 20px;
}
.girls {
	position: absolute;
	left: -100px;
	top: -80px;
	width: 282.17px;
	height: 195.53px;
	background:  $font-color;
	border-radius: 20px;
}
.payforms {
	position: absolute;
	width: 436.28px;
	height: 248.22px;
	top: 360px;
	left: 90px;
	background: $font-color;
	border-radius: 23.4905px;
}
.stripe {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 45px;
	padding-top: 20px;
	border-bottom: 1px solid #E5EFFF;
	color: $color-text;
}
.paypal {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding-top: 20px;
	border-bottom: 1px solid #E5EFFF;
	color: $color-text;
}
.bank {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 45px;
	padding-top: 20px;
	color: $color-text;
}
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 23px;
	border-radius: 15px;
	background: #DAE5F7;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	&:before {
		position: absolute;
		content: "";
		width: 16.39px;
		height: 16.39px;
		left: 4px;
		top: 3px;
		border-radius: 15px;
		background: #8161F7;
		transition: 0.4s;
	}
}
input {
	&:checked {
		& + .slider {
			background: #70C217;
			border-radius: 15px;
			transition: 0.1s;
			&:before {
				transform: translate(24px);
				background: $font-color;
			}
		}
	}
}
.shop {
	width: 75.64px;
	height: 75.64px;
	top: 304px;
	left: -35px;
	background: $color-yellow;
	border-radius: 37.7902px;
	border: none;
	position: absolute;
	svg {
		width: 36.67px;
		height: 33px;
		left: 1188.23px;
		top: 663.28px;
		color: $font-color;
	}
}
.productmarka {
	position: absolute;
	display: flex;
	gap: 15px;
	margin-left: 10%;
	margin-top: 4%;
}
.shoes {
	width: 57.28px;
	height: 17.53px;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 700;
	font-size: 11.9802px;
	line-height: 15px;
	letter-spacing: 1.9967px;
	color: $color-head;
}
.marka {
	width: 104.03px;
	height: 17.53px;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 400;
	font-size: 11.9802px;
	line-height: 15px;
	color: $color-text;
}
.adidas {
	position: absolute;
	width: 268.85px;
	height: 88.84px;
	margin-left: 10%;
	margin-top: 10%;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 38px;
	color: #222222;
}
.sizeproduct {
	position: absolute;
	display: flex;
	gap: 15px;
	left: 60%;
	top: 45%;
}
.boxsize {
	width: 29.27px;
	height: 29.27px;
	left: 1783.16px;
	top: 534.94px;
	border: none;
	font-size: 9px;
	background: #F6F6F6;
	border-radius: 4.99174px;
	align-items: center;
}
.productprice {
	position: absolute;
	display: flex;
	gap: 40%;
	top: 65%;
	left: 60%;
}
.saleprice {
	position: absolute;
	width: 67.8px;
	height: 32.73px;
	bottom: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 23.9604px;
	line-height: 28px;
	letter-spacing: 0.998348px;
	color: $color-button;
}
.mainprice {
	position: absolute;
	width: 40.91px;
	height: 18.7px;
	left: 25px;
	top: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 13.9769px;
	line-height: 16px;
	letter-spacing: 0.998348px;
	text-decoration-line: line-through;
	color: $color-text;
}
.addproductpart {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
	width: 240.28px;
	height: 40.98px;
	background: #F6F6F6;
	border-radius: 4.99174px;
}
.increment {
	border: none;
	color: #222222;
	font-weight: 800;
	background: none;
}
.counter {
	border: none;
	color: #222222;
	font-weight: 500;
	background: none;
}
.decrement {
	border: none;
	color: #222222;
	font-weight: 800;
	background: none;
}
.addtocart {
	position: absolute;
	width: 268.12px;
	height: 49.18px;
	top: 340px;
	left: 550px;
	border: none;
	color: $font-color;
	background: #7854F7;
	border-radius: 4.99174px;
}


.features-section{
	position: absolute;
	width: 1601px;
	height: 888px;
	left: 114px;
	top: 992px;
	.simplehead{
		position: absolute;
		width: 557px;
		height: 140px;
		left: 550px;
		

		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 65px;
		line-height: 70px;
		/* or 127% */

		text-align: center;

		color: $color-head;
	}
	.consul{
		position: absolute;
		left: 2%;
		top: 30%;	
	}
	.apple{
		position: absolute;
		left: 0.5%;
		top: 33.5%;

	}
	.payment{
		position: absolute;
		left: -4.5%;
		top: 36%;
		border-radius: 10px;
	}	

	.alltostart{
		position: absolute;
		width: 351px;
		height: 70px;
		left: 93px;
		top: 586px;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 70px;
	}
	
	.addplugin{
		position: absolute;
		width: 430px;
		height: 60px;
		left: 93px;
		top: 711px;
		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		/* or 167% */
		
		
		color: $color-text;
	}

	.wordpress{
		position: absolute;
		width: 227px;
		height: 25px;
		left: 93px;
		top: 806px;
		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		/* identical to box height, or 139% */
		
		
		color: $color-link;
	}

		.planshet{
			position: absolute;
			left: 35%;
			top: 36%;
		}
		.jetpack{
			position: absolute;
			left: 49%;
			top: 51.5%;

		}	
		.googleads{
			position: absolute;
			left: 43.5%;
			top: 65%;

		}
		.facebook{
			position: absolute;
			top: 46.5%;
			left: 38%;

		}
		.monkey{
			position: absolute;

			left: 53%;
			top: 38%;
		}

		.square{
			position: absolute;
			left: 38%;
			top: 34%;
		}

		.extend{
			position: absolute;
			width: 375px;
			height: 70px;
			left: 620px;
			top: 630px;
			
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 70px;
			/* identical to box height, or 194% */
			
			
			color: $color-head;
		}

		.gymclass{
			position: absolute;
			width: 430px;
			height: 60px;
			left: 620px;
			top: 750px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			
			color: $color-text;
		}

		.browse{
			position: absolute;
			width: 165px;
			height: 25px;
			left: 620px;
			top: 851px;
			
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;			
			
			color: $color-link;
		}

		.employees{
			position: absolute;
			left: 68%;
			top: 43%;
		}
		.clients{
			position: absolute;
			left: 88%;
			top: 56%;	
		}
		.teamwork{
			position: absolute;
			left: 70%;
			top: 37%;
		}
		.collective{
			position: absolute;
			left: 85%;
			top: 27%;

		}
		.community{
			position: absolute;
			width: 315px;
			height: 70px;
			left: 1150px;
			top: 680px;			
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 70px;
			color: $color-head;
		}
		.fastgrow{
			position: absolute;
			width: 430px;
			height: 60px;
			left: 1150px;
			top: 810px;
			
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: $color-text;
			
		}
		.ourforums{
			position: absolute;
			width: 159px;
			height: 25px;
			left: 1150px;
			top: 905px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
			color: $color-link;
		}
}

.about-section{
	position: absolute;
	height: 1182px;
	left: 0px;
	top: 2204px;
	.develop-part{
		position: absolute;
		width: 1920px;
		height: 1110px;
		left: 0px;			
		background: url(../../images/rectangleback.png);
		.union{
			position: absolute;
			left: 69%;
		}
		.ellipse1{
			box-sizing: border-box;

			position: absolute;
			width: 65px;
			height: 65px;
			left: 217px;
			top: 160px;
			border-radius: 40px;			
			border: 5px solid $color-yellow;
		}
		.ellipse2{
			box-sizing: border-box;

			position: absolute;
			width: 401px;
			height: 401px;
			left: 240px;
			top: 170px;
			border-radius: 380px;
			border: 5px solid $color-yellow;
		}
 		.markalist{
			position: absolute;
			left: 250px;
			top: 350px;
		} 
		.ellipse3{
			
			box-sizing: border-box;
			position: absolute;
			width: 65px;
			height: 65px;
			left: 1200px;
			top: 520px;
			border-radius: 40px;			
			border: 5px solid $color-yellow;	
		}
		.ellipse4{
			box-sizing: border-box;

			position: absolute;
			width: 262px;
			height: 262px;
			left: 1441px;
			top: 520px;
			border-radius: 160px;
			
			border: 5px solid $color-yellow;
		}
		.markalist2{
			position: absolute;
			left: 1230px;
			top: 720px;
		}
		.ourdevelopment{
			position: absolute;
			left: 300px;
			top: -65px;
		}

		.withoutlimits{
			position: absolute;
			width: 435px;
			height: 92px;
			left: 855px;
			top: 50px;

			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 46px;

			color: $font-color;
		}
		.limitstxt{
			position: absolute;
			width: 480px;
			height: 150px;
			left: 855px;
			top: 200px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			
			color: $font-color;
		}
		.linktodocumentation{
			position: absolute;
			width: 256px;
			height: 64px;
			left: 855px;
			top: 406px;
			border: none;
			background: #70C217;
			border-radius: 60px;
			font-size: 18px;
			color: $font-color;
		}
		.ourconsultation{
			position: absolute;
			width: 430px;
			height: 548px;
			left: 1060px;
			top: 520px;
		}
		.globalcommunity{
			position: absolute;
			width: 506px;
			height: 92px;
			left: 595px;
			top: 550px;
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 46px;
			
			color: $font-color;	
		}
		.aboutcommunity{
			position: absolute;
			width: 480px;
			height: 150px;
			left: 595px;
			top: 700px;
			
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: $font-color;
		}
		.linktodoc{
			position: absolute;
			width: 256px;
			height: 64px;
			left: 595px;
			top: 890px;
			border: none;
			background: #70C217;
			border-radius: 60px;
			font-size: 18px;
			color: $font-color;
		}
		
	}	

}

.reviews{
    position: absolute;
    width: 1920px;
    height: 1209px;
    left: 0px;
    top: 3450px;
    
    background: linear-gradient(180deg, 
    rgba(236, 240, 253, 0) 0%, 
    rgba(236, 240, 253, 0.53) 14.32%, 
    #ECF0FD 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%, 
    rgba(236, 240, 253, 0) 100%);
}

.people-section{
	position: absolute;
	top: 4200px;
	.realpeople{
		position: absolute;
		width: 648px;
		height: 70px;
		left: 636px;
		top: 200px;
		font-family: 'Circular Std';
		font-style: normal;
		font-weight: 700;
		font-size: 55px;
		line-height: 70px;
		/* identical to box height, or 127% */
		
		text-align: center;
		
		color: $color-head;
	}
	.peopletxt{
		position: absolute;
		width: 660px;
		height: 50px;
		left: 630px;
		top: 410px;		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		/* or 139% */
		
		text-align: center;
		
		color: $color-text;
	}

	.peopleimg{
		position: absolute;
		left: 305px;
		top: 500px;
	}

	.radius{
		position: absolute;
		left: 201px;
		top: 590px;
	}

	.group13{
		position: relative;
		left: 90.44px;
		top: 750px;

	}
	.ellipspeople{
		position: absolute;
		left: 1300.96px;
		top: 640px;
	}
	.circle1{
		position: absolute;
		border: 5px solid $color-yellow;
		width: 61px;
		height: 61px;
		left: 116px;
		top: 580px;
		box-sizing: border-box;
		border-radius: 40px;
	}
	.circle2{
		box-sizing: border-box;
		position: absolute;
		width: 34px;
		height: 34px;
		left: 200px;
		border-radius: 40px;
		top: 690px;
		border: 5px solid $color-yellow;
	}
	.circle3{
		box-sizing: border-box;

		position: absolute;
		width: 43px;
		height: 43px;
		left: 1614px;
		top: 540px;
		border-radius: 40px;
		border: 5px solid $color-yellow;

	}
	.darkblue{
		position: absolute;
		width: 1920px;
		height: 261px;
		left: 0px;
		top: 790px;
		align-items: center;
		display: flex;
		gap: 50px;
		background: #5F37EF;
	}
	.startbusiness{
		position: absolute;
		width: 855px;
		height: 105px;
		left: 470px;
		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 52px;
		/* or 146% */
		
		
		color: #FFFFFF;
		
	}
	.businessbtn{
		box-sizing: border-box;

		position: absolute;
		width: 207px;
		height: 72px;
		left: 1342px;
		background: none;
		color: #FFFFFF;		
		border: 2px solid #FFFFFF;
		border-radius: 60px;
	}
	
}
